
html, body {
    /* font-family: 'Montserrat', sans-serif; */
    background: whitesmoke;
}

.container.main {
    padding-top: 15px;
    padding-bottom: 15px;
}

#initialControls {
    text-align: center
}

#initialControls .choose-file {
    display: inline-block;
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFile + label {
    font-size: 1.25em;
    color: #FFF;
    background-color: #ce5340;
    display: inline-block;
    cursor: pointer;
    padding: 0.8em 1.7em;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.inputFile:focus + label,
.inputFile + label:hover {
    background-color: #b24737;
}

.inputFile + label .inner {
    display: flex;
    align-items: center;
}

.table td, .table th {
    vertical-align: middle;
}

.newBudgetInput {
    padding: 0;
}
.newBudgetInput > input {
    border: 0;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: yellow;
    cursor: text;
}

.addBudgetContainer {
    margin: 8px 0;
}
.addBudgetContainer > .select {
    margin: 0 8px 0 0;
}

#output {
    margin-top: 1.5rem;
}



